html,
body {
  height: 100%;
  overflow: hidden;
  min-width: 800px;
  min-height: 800px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
  min-width: 800px;
  min-height: 800px;
  margin: auto;
  overflow: hidden;
}

#homePageContent {
  min-width: 800px;
  min-height: 800px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 50%,
    rgb(165, 165, 165) 100%
  );
}

:root {
  --ring-size: 540px;
}

.innerLine {
  transform: rotateX(180);
}

.innerLine {
  stroke-dasharray: 1800;
  stroke-dashoffset: -1800;
}

.mainAnimation {
  width: 1400px;
  display: grid;
  grid-template-columns: 0px 0px;
}

.mainContainer {
  width: 800px;
  height: 800px;
  margin: auto;
  display: grid;
  grid-template-rows: 0px;
}

.circleContainer {
  align-self: center;
  justify-self: center;
  height: var(--ring-size);
  width: var(--ring-size);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

.animationContainer {
  height: 800px;
  width: 800px;
  display: grid;
}

#svgLine {
  stroke-dasharray: 1800;
  stroke-dashoffset: -1800;
}

.polyLine {
  stroke-dasharray: 1800;
  stroke-dashoffset: +1800;
}

.center {
  margin: auto;
  margin-top: 50%;
  display: grid;
  grid-template-columns: repeat(100, 0px);
}

.mainSvg {
  position: absolute;
}

.mainSVGcontainer {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.divergency {
  position: absolute;
}

.divergencyBlock {
  position: absolute;
  height: 200px;
  width: 600px;
  animation: 2s;
  margin-top: -40px;
  display: grid;
  grid-template-rows: 45px 45px 33px;
  overflow: hidden;
}

.diverText {
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.divergencyBlock h2 {
  padding: 0px;
  margin: 0px;
}

.divDate {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  color: rgb(97, 97, 97);
}

.diverType {
  color: rgb(97, 97, 97);
  font-size: 25px;
  /* margin-right: 10px; */
}

.divCountry {
  font-size: 35px;
  overflow: hidden;
  margin: auto;
  color: rgb(41, 41, 41);
}

.divMessage {
  font-size: 25px;
  color: rgb(97, 97, 97);
}

.box {
  height: 400px;
  max-height: 400px;
  max-width: 400px;
  width: auto;
  background-color: rgba(5, 5, 5, 0.705);
}

.svgCenter {
  height: 800px;
  width: 800px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:4,3);

.innerLine {
  stroke: rgb(39, 103, 187);
  stroke-width: 10;
  fill: bisque;
  z-index: -5;
}

.test {
  height: 300px;
  width: 300px;
  background-color: rgb(66, 44, 179);
}

.boxCenter {
  height: 440px;
  width: 440px;
  border-radius: 50%;
  border: 8px solid rgb(197, 20, 20);
  display: grid;
  background-color: rgb(66, 44, 179);
}

.overBox {
  background-color: rgb(255, 255, 255);
  height: var(--ring-size);
  width: var(--ring-size);
  margin-top: -270px;
  margin-left: -270px;
  border-radius: 50%;
  z-index: 0;
}

.overBox:hover .pageContainer {
  grid-column: 2;
  grid-row: 2;
  margin-left: 290px;
}

.innerBox {
  width: 10px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.486);
  transform-origin: 0 0;
  z-index: -10;
  transition-duration: 3s;
  border-radius: 25px;
  transition-property: height;
  filter: blur(2px);
}

.innerBox:hover {
  height: 600px;
}

.padd1 {
  width: 0px;
  border-radius: 40px;
  filter: blur(10px);
  margin-top: 248px;
  transform: rotate(-5deg);
  background-color: rgb(2, 2, 2);
  transition-duration: 5s;
  transition-property: height;
}

/* Canvas */
.canvas {
  transform: rotate(0.5deg);
  align-self: center;
  display: grid;
  grid-row: 0px;
  z-index: 10;
  overflow: hidden;
}

#canvas {
  z-index: 10;
  overflow: hidden;
}

.hexagonContainer {
  position: absolute;
}

.hexagon {
  opacity: 0.2;
}

.navBar {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
}
.navButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 20px;
  height: 30px;
  padding: 0 15px;
}

.navButton:hover {
  cursor: pointer;
  background-color: rgb(201, 201, 201);
}

.cancel {
  position: absolute;
  border-top: 2px solid black;
  /* margin-top: 290px; */
}

.navSvg {
  position: absolute;
  z-index: -10;
}

.createMenu {
  position: absolute;
  height: 90%;
  display: grid;
  grid-template-rows: 3px 1fr;
  width: 400px;
  right: 0px;
  top: 10px;
  z-index: 1;
}

.createBlock {
  position: absolute;
  width: 100%;
  max-height: 800px;
  height: 100%;
  max-height: 1fr;
  overflow-y: scroll;
  /* overflow-x: none; */
  top: 80px;
  z-index: 1;
}

.createBlock::-webkit-scrollbar {
  display: none;
}

.menuButtons {
  width: 1fr;
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 0 30px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.menuActionButton {
  border: none;
  background-color: rgb(216, 216, 216);
}

.menuActionButton:hover {
  cursor: pointer;
  background-color: rgb(201, 201, 201);
}

.createSvg {
  right: 0px;
  top: 0px;
  position: absolute;
  z-index: -1;
}

.actionBlock {
  height: 200px;
  /* background-color: rgba(214, 214, 214, 0.493); */
  /* border: 2px solid black; */
  /* overflow: scroll; */
  border-radius: 5px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 25px 1fr;
}

.actionHeader {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.actionHeader > h2 {
  margin: 0px;
  padding-left: 30px;
}

.addText {
  display: grid;
  width: 1fr;
  grid-template-columns: 1fr 100px;
}

.textInputs {
  padding-top: 25px;
  margin-left: 50px;
  display: grid;
  grid-template-rows: 45px 38px 30px 30px;
}

.addInput {
  background-color: rgb(202, 202, 202);
  position: relative;
  border: none;
  height: 22px;
  font-size: 20px;
  max-width: 220px;
  border-radius: 4px;
}

.addSettings {
  grid-column: 2/2;
  grid-row: 1/5;
}

.actionBlockSVG {
  stroke-dasharray: 800;
  stroke-dashoffset: -800;
  width: 300px;
  position: absolute;
  z-index: 0;
}

@media only screen and (max-width: 1050px) {
  #root {
    zoom: 40%;
    margin: auto;
    width: 100%;
    overflow: hidden;
  }

  html,
  body {
    position: fixed;
  }

  #homePageContent {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .navBar {
    right: 5%;
    width: 300px;
    height: 50px;
  }
  .createMenu {
    right: 0px;
    top: 150px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
  }

  .createBlock {
    max-height: 90%;
  }
}
